@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveInTop {
  0% {
    transform: translateY(-15rem);
  }
  40% {
    transform: translateY(10rem);
  }
  60% {
    transform: translateY(-5rem);
  }
  80% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveBackTop {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-8rem);
  }
}

@keyframes moveInRotateTop {
  0% {
    transform: translateY(-15rem) rotate(0deg);
  }
  40% {
    transform: translateY(5rem) rotate(90deg);
  }
  75% {
    transform: translateY(-10rem) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

@keyframes openIn {
  0% {
    transform: rotateY(-90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.fadeInAn {
  animation: fadein 0.5s ease-in-out forwards, openIn 2s linear;
}

.fadeOutAn {
  animation: fadeOut 1.5s ease-out forwards, moveBackTop 1s ease-out;
}

.moveInRightAn {
  animation: fadein 0.2s ease-in forwards, moveInRight 1s ease-in-out forwards;
}

.wiggleAn {
  animation: wiggle 2s ease-in-out forwards;
}
