$color-primary-light: #c69963;
$color-primary-light-1: #ffcc91;
$color-primary-dark: #b28451;

$color-secondary-dark: #0e2058;
$color-secondary-light: #1c40b0;

$color-purple-dark-1: #3c1053;
$color--light-1: #ad5389;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
