@import "../../sass/main.scss";

.nav {
  display: grid;
}

.nav__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}

.nav__item {
  color: $color-white;
  font-size: 1.5rem;

  &-brand {
    margin-right: auto;
  }
}

.nav__link {
  color: beige;
  position: relative;
  padding: 0.5rem;

  z-index: 10;

  &-brand {
    background: beige;
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: -1;

    background: $color-white;

    height: 0%;
    width: 0%;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-grey-dark-1;
  }

  &:hover::after {
    height: 100%;
    width: 100%;
    transform: translateY(-50%);
  }
}
